/* sorted by order of appearence */
.navbar {
    width: 90%;
    height: 20%;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    /* background: invisible */
    background: inherit;
    /* background: black; */

    flex-wrap: wrap;
    /* keep visible above all other */
    z-index: 10000
}

/* li:hover:after {
    content: attr(title);
    background: black;
    color: white;
    padding: 5px;
    position:relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  } */

.nameBox {
    width: 95%;
    height: 50%;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    /* background: invisible */
    background: inherit;
    /* background: green; */
}

.descBox {
    width: 95%;
    height: 20%;

    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    /* background: invisible */
    background: inherit;
    /* background: white; */

    flex-wrap: wrap;
}

.footer {
    width: 20%;
    height: 6%;

    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    /* background: invisible */
    background: inherit;
    /* background: #22110d; */
}

/* POPUP */
.popBox {
    /* whats the diff b/w absolute & fixed? */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FDF4DC;
    width: 80%;
    height: 70%;
    padding: 15px;
    border-radius: 20px;
    /* give it that disco fade */
    box-shadow:
        0 0 2.5px #F48C06,
        0 0 5px #F48C06,
        0 0 10px #F48C06,
        0 0 20px #BB3E03,
        0 0 40px #BB3E03,
        0 0 45px #BB3E03,
        0 0 50px #BB3E03,
        0 0 75px #BB3E03;
    /* bring to front */
    z-index: 9999;

}

 .popBox-close {
    position: absolute;
    top: 50%;
    right: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    
  } 

/* use for styling active links  */
/* #popped a.active {
    color: red;
  } */


