body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    background: #22110d;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

