/* ~~ PopUp div ~~ */
.popBox {
    /* whats the diff b/w absolute & fixed? */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FDF4DC;
    width: 80%;
    height: 70%;
    padding: 15px;
    border-radius: 20px;
    /* give it that disco fade */
    box-shadow:
        0 0 2.5px #F48C06,
        0 0 5px #F48C06,
        0 0 10px #F48C06,
        0 0 20px #BB3E03,
        0 0 40px #BB3E03,
        0 0 45px #BB3E03,
        0 0 50px #BB3E03,
        0 0 75px #BB3E03;
    /* bring to front */
    z-index: 9999;
}

 .popBox-close {
    position: absolute;
    top: 50%;
    right: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    
  } 
  
/* ~~ font ~~ */
  .popFont {
    font-family: 'FooterFont';
    font-size: 2vw;
    /* font-style: bold; */
    text-align: left;
    color: #22110d;
}